@use 'variables' as *;

.saved-stations {
  padding-bottom: 1rem;
}

.station {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid $border-color;
}

.station .train-marker {
  margin: 0 !important;
}

.station-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 1.25rem;
    padding-bottom: 0;
  }

  span {
    color: $secondary-text-color;
  }
}
