@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: oklch(15% 0.01 225.8deg);
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: oklch(97% 0.01 225.8deg);
}

a {
  color: oklch(90% 0.081 211.56deg);
}

h1,
h2,
h3,
p,
ul {
  padding-bottom: 0.5rem;
}

ul {
  list-style: none;
  color: oklch(97% 0.01 225.8deg);
}

button,
.button {
  display: inline-block;
  color: oklch(97% 0.01 225.8deg);
  background-color: oklch(40% 0.1556 225.8deg);
  text-decoration: none;
  border: 0;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button img,
.button img {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
button:hover,
.button:hover {
  background-color: oklch(30% 0.1556 225.8deg);
}

.bg-red {
  background-color: oklch(40% 0.11 23.97deg);
}
.bg-red:hover {
  background-color: oklch(30% 0.089 23.56deg);
}

.btn-big {
  width: 100%;
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
}

label,
input,
textarea,
select {
  display: block;
  font-size: 1.125rem;
}

input,
textarea,
select {
  background-color: oklch(20% 0.01 225.8deg);
  color: oklch(97% 0.01 225.8deg);
  margin-bottom: 1rem;
  padding: 1rem;
  border: oklch(20% 0.01 225.8deg) 1px solid;
  border-radius: 5px;
  width: 100%;
}

.container {
  padding: 1rem;
}

.route-container {
  max-width: 500px;
  margin: 0 auto;
}

router-outlet {
  display: flex;
  flex: 1;
  overflow-y: auto;
  width: 100%;
  margin: 0 auto;
}

router-outlet > * {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-links {
  padding: 0;
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-around;
}

.nav-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  color: oklch(85% 0.01 225.8deg);
  text-decoration: none;
}

.nav-links img {
  width: 1.5rem;
}

navigation-outlet {
  z-index: 1;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: oklch(15% 0.01 225.8deg);
  border-top: 1px solid oklch(20% 0.01 225.8deg);
}
navigation-outlet nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.flashmessage {
  color: oklch(60% 0.178 23.52deg);
  padding: 0.5rem;
}

.right {
  float: right;
}

@keyframes move-from-bottom {
  from {
    transform: translateY(100%);
  }
}
@keyframes move-to-bottom {
  to {
    transform: translateY(100%);
  }
}
.slide-in {
  animation: move-from-bottom 0.4s ease both;
}

.slide-out {
  animation: move-to-bottom 0.4s ease both;
}

.map {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.train-marker {
  margin-top: -0.75rem !important;
  margin-left: -0.75rem !important;
}
.train-marker div {
  padding: 0;
  background: oklch(20% 0.01 225.8deg);
  border: 2px solid oklch(97% 0.01 225.8deg);
  border-radius: 40%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px oklch(0% 0 0deg);
}
.train-marker img {
  width: 1.125em;
  height: 1.125rem;
}

.delayed div {
  background: oklch(50% 0.192 28.53deg);
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.popup-div {
  position: fixed;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  background: oklch(15% 0.01 225.8deg);
  color: oklch(97% 0.01 225.8deg);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  z-index: 2;
  display: none;
}
.popup-div .close {
  background-color: oklch(20% 0.01 225.8deg);
  color: oklch(97% 0.01 225.8deg);
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
  float: right;
  font-size: 1.6rem;
}
.popup-div div {
  margin-bottom: 1rem;
}
.popup-div div:last-child {
  margin-bottom: 0;
}
.popup-div h2,
.popup-div h3 {
  padding: 0;
}
.popup-div p {
  color: oklch(85% 0.01 225.8deg);
  padding: 0;
}

.saved-stations {
  padding-bottom: 1rem;
}

.station {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid oklch(20% 0.01 225.8deg);
}

.station .train-marker {
  margin: 0 !important;
}

.station-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.station-info h2 {
  font-size: 1.25rem;
  padding-bottom: 0;
}
.station-info span {
  color: oklch(85% 0.01 225.8deg);
}

/*# sourceMappingURL=style.css.map */
